

.auth-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}


.form-input{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 20px;
}

.form-button{
    margin: 0 auto;
    width: 300px;
}

.toggle-button{
    margin: 0 auto;
    width: 300px;
}
