.postpage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20 0;
    text-align: center;
    
}

.postpage-title{
    font-family: 'Passion One', cursive;
    font-size: 70px;
    margin-bottom: 0px;
}

.postpage-img{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    width: 400px
}

.postpage-description{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:30px
}

.postpage-comment{
    display: flex;
    border: 1px solid black;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 2px 10px
}

.postpage-comment-user{
    display: flex;
    font-family: 'Passion One', cursive;
    font-size: 40px;
    margin: 0;
   

}

.postpage-date{
    font-size: 15px;
}

.delete-button{
   display: flex;
   align-content: center;
   margin-left: 400px;
}

.comment-date{
    font-size: 10px;
}


.postpage-form-section textarea{
    resize: none;
    width: 400px;
    height: 100px;
}

.comment-card{
    display: flex;
    width: 330px;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
}

.add-comment-card{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    width: 320px;
}