.profile h1{
    text-align: center;
}

.issue-title{
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
}

.profile p{
    display: flex;
    margin: 0 auto;
    width: 400px;
    margin-bottom: 30px;
    font-size: 20px;
}

